body {
    margin: 0;
    padding: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    color: #012c64;
}

a {
    text-decoration: none;
}

/* Styling for Navigation bar */

#nav-bar {
    background-color: #013b89;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    float: right;
    position: relative;
    bottom: 70px;
    color: #fff;
}

#logo {
    height: 90px;
    width: auto;
    position: relative;
    left: 50%;
}

/* Collapsable menu navigator styling */

.menu-container {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: inherit;
    color: white;
    transition: left 0.3s ease-in-out;
}

.menu {
    padding: 20px;
}

.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: width 0.3s ease-in-out;
}

.toggle-menu {
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #013b89;
    box-shadow: 2px 2px 2px 1px black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

/* Hero image styling */

main {
    margin-left: 20px; 
    padding: 20px;
}

#hero-img {
    width: 100%;
    height: 800px;
}

/* Introduction section styling */

.left-text-container {
    background-color: #eaeaea;
    height: 500px;
    width: 400px;
    position: relative;
    margin-left: 150px;
    top: 100px;
    float: left;
}

.left-text-container h3,p,a {
    text-align: center;
    position: relative;
    top: 30%;
    margin: 20px 30px 0 30px;
}

.right-img {
    height: 500px;
    width: 815px;
    position: relative;
    top: 100px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s ease forwards;
}

/* Hotel features section styling */

.info-container-left img {
    width: 200px;
    height: auto;
}

.info-container-left {
    border: 1px solid #eaeaea;
    width: 300px;
    height: 450px;
    margin-left: 150px;
    position: relative;
    top: 150px;
    margin-right: 0;
}

#breakfast {
    border: 1px solid #eaeaea;
    width: 300px;
    height: 450px;
    position: relative;
    top: 195px;
    right: 4px;
}

.info-container-left, #breakfast {
    display: inline-block;
}

.info-container-right {
    border: 1px solid #eaeaea;
    width: 300px;
    height: 450px;
    float: right;
    position: relative;
    top: 195px;
    right: 452px;
}

#hallway {
    border: 1px solid #eaeaea;
    width: 300px;
    height: 450px;
    position: relative;
    top: 195px;
    left: 308px;
}

.info-container-right h3,p {
    text-align: center;
    position: relative;
    top: 30%;
    margin: 20px 20px 30px 30px;
}

.info-container-left h3,p {
    text-align: center;
    position: relative;
    top: 30%;
    margin: 20px 30px 0 30px;
}

/* Footer section styling */

.footer-background {
    background-color: #013b89;
    width: 100%;
    height: 100%;
    position: relative;
    top: 200px;
}

.tel-and-adress {
    position: relative;
    bottom: 100px;
    color: #ccc;
    padding-bottom: 0;
}

#logo-footer {
    height: 200px;
    margin-left: 50px;
    position: relative;
    top: 60px;
}

/* Login page */

.login-form {
    position: relative;
    top: 130px;
}

.sign-in-tag {
    position: relative;
    top: 130px;
    margin: 0;
    margin-left: 47%;
}

.sign-in-note{
    position: relative;
    top: 150px;
}

.sign-in-button {
    margin: 0;
    margin-left: 47%;
    position: relative;
    top: 20px;
}

.sign-in-link {
    text-decoration: none;
}

.sign-up-button {
    margin: 0;
    margin-left: 46%;
    position: relative;
    top: 20px;
}

/* Booking a room form styling */

.create-booking-form {
    position: relative;
    top: 150px;
    margin-left: 33%;
    margin-right: 33%;
}

.create-button {
    position: relative;
    top: 20px;
}

/* Sign out page styling */

#sign-out-message {
    margin-left: 40%;
    position: relative;
    top: 50px;
}

.sign-out-button {
    position: relative;
    top: 80px;
    margin-left: 47%;
    margin-bottom: 91.5px;
}

/* Manage Booking Page */

.booking-list {
    position: relative;
    top: 150px;
    margin-bottom: 100px;
}

.booking-list ul {
    list-style-type: none;
}

#your-bookings {
    margin-left: 30px;
}

.box {
  width: 400px; 
  height: 80px; 
  border: 1px solid black; 
  border-radius: 5px; 
  text-align: center;
  margin-bottom: 20px;
}

/* Delete Confirmation page */

#delete-confirm {
    position: relative;
    top: 150px;
    text-align: center;
    margin-bottom: 20px;
}

#delete-confirm a {
    text-decoration: none;
}

#delete-form {
    margin-bottom: 34px;
    margin-top: 50px;
}

.back-list-button {
    position: relative;
    top: 160px;
    text-decoration: none;
}

.booking-form-headline {
    position: relative;
    top: 130px;
    text-align: center;
}

/* Stylying for form pages */

.booking-form {
    padding: 50px;
    background: #fff;
  }
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    width: 30%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: #013b89;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
  }
  
  button:hover {
    background: #333;
  }

/* Styling for Responsiveness */


@media screen and (max-width:1440px) {
    .info-container-right {
        right: 375px;
    }

    .info-container-left {
        right: 80px;
    }

    #breakfast {
        right: 85px;
    }

    .booking-list {
        margin-bottom: 150px;
    }

    #delete-confirm {
        margin-bottom: 60px;
    }

    .sign-out-button {
        margin-bottom: 130px;
    }

    .left-text-container {
        height: 350px;
        width: 200px;
        margin-left: 100px;
    }
    
    .left-text-container h3,p,a {
        font-size: medium;
    }
    
    .right-img {
        height: 350px;
        width: 615px;
    }
}

@media screen and (max-width:1200px) {
    .left-text-container {
        height: 350px;
        width: 200px;
        margin-left: 100px;
    }
    
    .left-text-container h3,p,a {
        font-size: medium;
    }
    
    .right-img {
        height: 350px;
        width: 615px;
    }

    .info-container-left {
        margin-left: 29%;
        top: 146px;
    }

    #hallway {
        left: 21%;
    }

    .info-container-right {
        right: 20.5%;
    }
    
}

@media screen and (max-width:850px) {
    #hero-img {
        width: 100%;
        height: auto;
    }

    .right-img {
        height: 300px;
        width: 450px;
    }

    .left-text-container {
        height: 300px;
        width: 200px;
        margin-left: 60px;
    }

    .left-text-container h3,p,a {
        font-size: small;
        margin-top: 5px;
    }

    .info-container-left {
        margin-left: 35%;
        top: 114px;
        width: 200px;
        height: 350px;
    }

    #breakfast {
        width: 200px;
        height: 350px;
        top: 144px;
        margin-left: 0;
    }
    
    .info-container-left h3,p {
        font-size: medium;
    }

    .info-container-right {
        right: 23.5%;
        width: 200px;
        height: 350px;
    }

    #hallway {
        width: 200px;
        height: 350px;
        left: 24.5%;
    }

    .info-container-right h3,p {
        font-size: medium;
    }
}

@media screen and (max-width:426px) {
    .nav-item {
        font-size: medium;
    }

    #logo {
        left: 30%;
    }

    #hero-img {
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .left-text-container {
        width: 100%;
        margin-left: 0;
        top: 0;
    }

    .right-img {
        width: 100%;
        top: 0;
    }

    .info-container-left {
        width: 350px;
        height: 450px;
        top: 30px;
        margin-left: 0;
        position: relative;
        left: 9%;
    }

    #breakfast {
        width: 350px;
        height: 450px;
        top: 60px;
        margin-left: 0;
        position: relative;
        left: 9%;
    }

    .info-container-right {
        right: 9%;
        width: 350px;
        height: 450px;
        top: 90px;
    }

    #hallway {
        width: 350px;
        height: 450px;
        left: 9%;
        top: 120px;
    }

    #logo-footer {
        height: 100px;
        margin-left: 38%;
        position: relative;
        top: 80px;
    }

    .sign-in-tag {
        margin-left: 41%;
    }

    .sign-in-button {
        margin-left: 40%;
    }
}

@media screen and (max-width:2560px) {
    
    #hero-img {
        width: 100%;
        height: auto;
    }

    .right-img {
        width: 55%;
        height: 800px;
    }

    .left-text-container {
        height: 800px;
        width: 600px;
        margin-left: 280px;
    }

    .left-text-container h3,p,a {
        font-size: xx-large;
        margin-top: 40px;
    }

    .info-container-left {
        width: 400px;
        height: 800px;
        top: 5px;
        left: 5%;
    }

    #hallway {
        width: 550px;
        height: 800px;
        left: 24.5%;
        top: 200px;
    }

    #breakfast {
        width: 550px;
        height: 800px;
        top: 200px;
        margin-left: 0;
        position: relative;
        left: 4.5%;
    }

    .info-container-right {
        right: 32%;
        width: 400px;
        height: 800px;
        top: 200px;
    }

    .sign-in-tag {
        font-size: xxx-large;
    }

    .sign-in-button {
        font-size: xx-large;
    }

    .sign-in-note {
        margin-bottom: 150px;
    }

    body {
        font-size: 150%;
    }

    .create-button {
        margin-bottom: 150px;
    }

    .booking-list {
        margin-bottom: 800px;
    }

    #delete-confirm {
        margin-bottom: 600px;
    }

    #delete-confirm h4 {
        font-size: 200%;
    }

    #sign-out-message {
        font-size: 200%;
    }

    .sign-out-button {
        margin-bottom: 700px;
    }
}