{% extends "base.html" %} {% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h3 class="sign-in-tag">{% trans "Sign Out" %}</h3>
<div class="login-form">
<h5 id="sign-out-message">{% trans 'Are you sure you want to sign out?' %}</h5>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="sign-out-button">{% trans 'Sign Out' %}</button>
</form>
</div>

{% endblock %}
