{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/56d542c146.js" crossorigin="anonymous"></script>
    <title>Blue Hotel</title>
</head>
<body>
    <header>
        <nav id="nav-bar">
            <img src="https://res.cloudinary.com/difv4hl67/image/upload/v1694788909/logo.png" alt="logo" id="logo">
            <div class="menu-container">
                <div id="menu" class="menu">
                    <a href="#">Home</a>
                    <a href="#">Book a room</a>
                    <a href="#">About</a>
                </div>
                <div id="overlay" class="overlay"></div>
            </div>

            <button id="toggle-menu" class="toggle-menu"><i class="fa-solid fa-bars"></i></button>

        </nav>
    </header>
    <section>

    </section>

    <footer></footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>