{% extends "base.html" %} {% load static %}

{% block content %}

<body>
    <form class="booking-form" action="#" method="post">
        <div class="elem-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="visitor_name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
        </div>
        <div class="elem-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="visitor_email" placeholder="john.doe@email.com" required>
        </div>
        <div class="elem-group">
          <label for="phone">Modile Phone</label>
          <input type="tel" id="phone" name="visitor_phone" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
        </div>
        <div class="elem-group inlined">
          <label for="adult">Adults</label>
          <input type="number" id="adult" name="total_adults" placeholder="1" min="1" required>
        </div>
        <div class="elem-group inlined">
          <label for="child">Children</label>
          <input type="number" id="child" name="total_children" placeholder="0" min="0" required>
        </div>
        <div class="elem-group inlined">
          <label for="checkin-date">Check-in Date</label>
          <input type="date" id="checkin-date" name="checkin" required>
        </div>
        <div class="elem-group inlined">
          <label for="checkout-date">Check-out Date</label>
          <input type="date" id="checkout-date" name="checkout" required>
        </div>
        <div class="elem-group">
          <label for="room-selection">Select Room Preference</label>
          <select id="room-selection" name="room_preference" required>
              <option value="">Choose a Room from the List</option>
              <option value="Junior Suite">Junior Suite</option>
              <option value="Deluxe King Room">Deluxe King Room</option>
          </select>
        </div>
        <button type="submit">Book The Rooms</button>
      </form>
<script src="{% static 'js/script.js' %}"></script>
</body>

{%endblock%}