{% extends "base.html" %} {% load static %}

{% block content %}

<section>
    <div>
        <img id="hero-img" src="https://res.cloudinary.com/difv4hl67/image/upload/v1694801775/entrance_hauzgs.png" alt="blue hotel entrance">
    </div>
</section>
<section>
    <div class="left-text-container">
        <h3 class="fade-in">Welcome to the Blue Hotel</h3>
        <p class="fade-in">The best summer holiday you will ever expierence</p>
    </div>
    <img class="right-img" src="https://res.cloudinary.com/difv4hl67/image/upload/v1694801776/lobby_haxkce.png" alt="image of the lobby">
</section>
<section>
    <div class="info-container-left">
        <h3 class="fade-in">All Included Breakfast Lunch and Dinner</h3>
        <p class="fade-in">Mediterranean cuisine and world class chefs</p>  
    </div>
    <img id="breakfast" src="https://res.cloudinary.com/difv4hl67/image/upload/v1694972505/breakfast_vqv47c.png" alt="image of breakfast area">
    <div class="info-container-right">
        <h3 class="fade-in">Luxurious Suites at The Blue Hotel</h3>
        <p class="fade-in">Spectacular views of the ocean in the confront of your room</p>    
    </div>
    <img id="hallway" src="https://res.cloudinary.com/difv4hl67/image/upload/v1694972504/hallway_aslbr0.png" alt="hotel hallway">
</section>

{%endblock%}